name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v6

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm ci

    - name: Generate windowsZones (strict)
      run: node build/update-windows-zones.mjs
      env:
        CI: true

    - name: Type Check
      run: npm run test:types

    - name: Lint
      run: npx xo

    - name: Unit Tests
      run: npx mocha --timeout 8000
      env:
        CI: true
